.container{
    width:100%;
    margin:0 auto;
    background-color:yellow;
}
.header{
    padding:10px 5px;
}
.flex{
    display: flex;
}
.input-search{
    width:350px;
    border:none;
    outline: none;
    height:30px;
}
.space{
    margin-left:10px;
}/* 
.area-cep{
    border:1px solid red;
} */
.menu-up{
    border-bottom:1px solid gray ;
}